.tengah {
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
}
.tabel td, .tabel th {
    border-collapse: collapse;
    border: 1px solid black;
}
/* th {
    background-color: green;
    border: 1px solid black;
    color: white;
}
td {
    border: 1px solid black;
} */
.subjudul {
    color: black;
    font-size: 20px;
}
.paragraf {
    color: blue;
    font-size: 15px;
}
#Judul {
    background-color: yellow;
    color: red;
    padding: 10px;
    text-align: center;
}
.warnateks {
    color: blue;
}
.space {
    margin-left: 20px;
}
h2 {
    color: black;
}
.warnateks {
    color: blue;
}

.loginform {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    gap: 5px;
}
.gambargaruda {
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.garis {
    border: 3px solid yellow;
}
.loginbox {
    margin-left: 15px;
}
.loginbox h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
input[type="text"],
input[type="password"] {
    border: 1px solid black;
}
button {
    border: 2px solid black;
}
.kotak {
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding-left: 20px;
}
.kotak pre {
    margin-bottom: 0px;
}
.kotak table {
    margin-bottom: 10px;
}
.buttonlogout {
    float: right;
    margin-right: 200px;
}
