body {
    overflow-x: hidden;
}

/* Sidebar */
#sidebar {
    width: 250px;
    transition: all 0.3s ease;
    z-index: 1050;
    flex-shrink: 0;
}

#sidebar.mini {
    width: 70px;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

#sidebar.mini #sidebarToggle {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebarToggle i {
    font-size: 1.5rem !important;
}

#sidebar.mini .sidebar-title {
    display: none;
}

#sidebar.mini .nav-link span {
    display: none;
}

#sidebar.mini .nav-link {
    justify-content: center;
    padding: 0.75rem 0.5rem !important;
    text-align: center;
}

#sidebar:not(.mini) .nav-link i {
    margin-right: 0.75rem !important;
}

/* Content */
#content {
    margin-left: 250px;
    transition: all 0.3s ease;
    flex-grow: 1;
    width: 100%;
}

#sidebar.mini ~ #content {
    margin-left: 70px;
}

#sidebarToggle {
    cursor: pointer;
}
